@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: rgba(94, 92, 92, 0.137);
    color: rgba(34, 33, 33, 0.966);
    text-align: center;
}

h1, h2, p {
    margin: 20px 0;
}

.lista {
    text-align: center;
    margin-left: 20px;
    padding: 0;
    list-style-position: inside;
}

.lista li {
    margin-top: 20px;
    font-weight: 400;
}

ul li {
    list-style: none;
}

.lista li p {
    font-weight: 300;
}

img {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;

    border-radius: 10px;
    box-shadow: 0, 0, 0, rgba(1, 1, 1, 0.466);
}

a {
    text-decoration: none;
    color: rgb(58, 113, 233);
    transition: 1s;
}

a:hover {
    color: rgb(0, 78, 245);
    text-decoration: underline;
    transition: 1s;
}


