@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: rgb(46, 44, 44);
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin: 50px;
}



main {
    max-width: 80%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    gap: 20px;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    text-align: center;
}

.depoimento {
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 20px;
    padding: 10px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);
    transition: transform 0.3s ease; /* Animação suave */
}

.depoimento:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
        transform: scale(1.01);  /* Aumenta 10% no hover */
}

.depoimento h2 {
    font-weight: 500;
}

.depoimento h3 {
    font-weight: 500;
    font-size: 0.8em;
    margin: 10px 0;
}

.citacao {
    font-size: small;
    vertical-align: top;
}

.citacao::before {
    display: inline-block;
    position: relative;
    content: "“";
    font-size: 3rem;
    color: #999;
    margin-right: 8px;
    top: 20px;
    line-height: 0.8;
    font-family: gerogia, serif;
}

.citacao::after {
    content: "”";
    font-size: 3rem;
    color: #999;
    margin-left: 8px;
    vertical-align: top;
    line-height: 0.8;
    font-family: gerogia, serif;
}


.depoimento img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Animação suave */
}

.depoimento img:hover {
    transform: scale(1.1);  /* Aumenta 10% no hover */
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }
    
    .citacao {
        font-size: 0.8rem;
    }
}

footer {
    margin: 50px;
    text-align: center;

    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    color: rgb(46, 44, 44);
    font-weight: 500;
}

footer a:hover {
    font-weight: 600;
    transition: 0.2s ease; /* Animação suave */
}